   <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a>
            <th><a href="" ng-click="predicate = 'releaseYear'; reverse=!reverse">Year of release</a>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies | orderBy:predicate = 'title':reverse">
            <td>
                <a href="#" ng-href="/movies/{{movie.id}}">
                    {{movie.title}}
                </a>
            </td>
            <td>
                <a href="#" ng-href="/movies/{{movie.releaseYear}}">
                    {{movie.releaseYear || 'unknown'}}
                </a>
            </td>
        </tr>
    </tbody>
</table>

